.ResultsBox {
  display: flex;
  min-width: 90%;
  border: 2px solid purple;
}

.ResultsListButton {
  height: 50px;
  border: 2px solid black;
  margin: 10px;
}

.ResultsImage {
    max-width: auto;
    max-height: 200px;
}

.mediaListItem {
  display: flex;
  max-width: 75%;
  border: 2px solid rgb(194, 186, 186);
  margin-bottom: 10px;
  margin-left: 10px;
}

.MediaList {
  display: flex;
  flex-direction: column;
}

.MovieListBasics {
  margin-left: 10px;
}

.login-button-box{
  background: #F55C47;
  width: 150px;
  height: 150px;
}
.login-button{
  border: 20px solid #F55C47 !important;
  margin-left: -110px;
}

main#home img.logo{
  width: 500px;
  height: auto;
  margin: 0 auto;

}


/* ABOUT PAGES */

main#about {
  background-image: url("../assets/images/clawb_bg-top_right.png");
  background-repeat: no-repeat;
  background-position: right 0px top 0px;
}

main#about img.icon{
  max-width: 400px;
}

main#about img.logo{
  max-width: 200px;
  margin-left: 80px;
}

h3.next-link{
  text-align:right;
}

#about p {
  font-size: 2em;
}


#about li {
  font-size: 2em;
  margin: 0 0 0 1em;
}

#about p.lead {
  font-weight: bold;
  font-size: 2em;
}

#about p.megalead {
  font-weight: normal;
  font-size: 3em;
}
