.ResultsBox {
  display: flex;
  min-width: 90%;
  border: 2px solid purple;
}

.ResultsListButton {
  height: 50px;
  border: 2px solid black;
  margin: 10px;
}

.ResultsImage {
    max-width: auto;
    max-height: 200px;
}


.mediaListItem {
  display: flex;
  max-width: 75%;
  border: 2px solid rgb(194, 186, 186);
  margin-bottom: 10px;
  margin-left: 10px;
}

.MediaList {
  display: flex;
  flex-direction: column;
}

.MovieListBasics {
  margin-left: 10px;
}


/* .search-modal {
  min-width: 75%;
} */